[*.cs]

# Treat unused imports as errors
dotnet_diagnostic.IDE0005.severity = error

# Prefer target new
dotnet_diagnostic.IDE0090.severity = error

# Multiple where statements in linq are more readable
dotnet_diagnostic.RCS1112.severity = none

# Not every public type or member needs a documentation comment
# https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1591
dotnet_diagnostic.CS1591.severity = none

# Our exceptions do not need to support standard exception constructors
# https://github.com/JosefPihrt/Roslynator/blob/main/docs/analyzers/RCS1194.md
dotnet_diagnostic.RCS1194.severity = none

# It's okay to throw normal generic exceptions sometimes
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca2201
dotnet_diagnostic.CA2201.severity = none

# We don't do a lot of loggin this is not a performance issue
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1848
dotnet_diagnostic.CA1848.severity = none

# Hard enough to name things without avoiding specific suffixes
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1711
dotnet_diagnostic.CA1711.severity = none

# We are using "Property" to mean real estate property and that only conflicts with Visual Basic, which we don't use
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1716
dotnet_diagnostic.CA1716.severity = none

# Top level routing unfortunately only routes to spa for some reason
# https://learn.microsoft.com/en-us/aspnet/core/diagnostics/asp0014
dotnet_diagnostic.ASP0014.severity = none

# We will not start sealing our classes
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1852
dotnet_diagnostic.CA1852.severity = none

# We only care about enum values that we know about, but we do want to cover all values we know about
# https://github.com/dotnet/roslyn/issues/47066
dotnet_diagnostic.CS8509.severity = error
dotnet_diagnostic.CS8524.severity = none

# TODO: enable this rule
# Too many naming violations to fix for now (underscores in names)
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1707
dotnet_diagnostic.ca1707.severity = none